@import './js/modules/table/table.css';
@import './js/modules/chart/chart.css';
@import './js/modules/filters/filters.css';

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 20vh 10vw;
}