.table {
  border: 1px solid gray;
  list-style: none;
  margin-bottom: 15px;
}

.table__title {
  margin-bottom: 8px;
}

.table-item {
  border-bottom: 1px solid gray;
  display: flex;
}

.table-item:last-child {
  border: 0;
}

.table-column {
  border-right: 1px solid gray;
  width: 100%;
  padding: 5px;
}

.table-head {
  display: flex;
  border-bottom: 1px solid gray;
}

.tableHead__column {
  border-right: 1px solid gray;
  width: 100%;
  padding: 5px;
  background-color: lightgray;
  cursor: pointer;
  position: relative;
}

.tableHead__column.isActive {
  background-color: lightpink;
}

.tableHead__column.isActive::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate3d(0, -50%, 0);
  border: 4px solid transparent;
  border-bottom: 4px solid black;
}

.tableHead__column.isDesc.isActive::after {
  border-bottom: none;
  border-top: 4px solid black;
}